.About{
	text-align: justify;
	margin:200px 10%;
}

.mission{
	width: 90%;
	margin: auto;
}

.About h1{
	font-size:35px;
	font-weight: semi-bold;
	text-align: left;
	margin:0;
}

.About h4{
	font-size:18px;
	font-weight: 500;
	text-align: left;
	margin:20px 0 ;
	color:#F3E5AB;
}

.About p{
	font-size: 18px;
	font-weight: medium;
	margin:40px 0;
	line-height: 32.02px;

}

.Value{
	width: 90%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin:2% 0;
}


.value_text{
	margin:5%;
	margin-left: 0;
}

.Things{
	margin: 10% 0;
	width: 90%;
}


.slides {
  position: relative;
  display: block!important;
}

.JoinCom{
	margin: 10% 0;
}

.JoinCom h1{
	font-size: 30px;
	font-weight: semi-bold;
	text-align: center;
}

.JoinCom p{
	font-size: 15px;
	line-height: normal;
}

.Coms{
	margin:5% 0;
	display: flex;
	justify-content: space-around;
}

.Com{
	width: 300px;
}


.Com .title{
	display: flex;
	margin:10px 0;
	align-items: center;
	justify-content: center;
}

.Com .instructions{
	text-align: center;
	margin:auto;
	width: 250px;
	padding: 0;
}

.Com .instructions p{
	font-size:15px;
}

.Com .title h3{
	position: relative;
	top:50%;
	margin:0;
	font-size:15px;
	font-weight: medium;
	width: fit-content;
}

.Com .number{
	margin:5px 10px;
	background-color: #F3E5AB;
	padding: 5px;
	border-radius: 4px;
	font-size:18px;
}

.Com .number p{
	margin: 0;
	padding: 0;
}


@media only screen and (max-width: 600px) {
	.value_img{
		display: none!important;
	}

	.Value{
	width: 100%;
	margin: auto;		
	}

	.Things{
	width: 100%;
	margin: auto;
}
.About h1{
	font-size:30px;
}

.About h4{

}

.About p{
	font-size: 15px;
	line-height: 20px;
}
.About{
	margin-bottom: 150px;
}

    .slick-dots li button:before
    {
    	width: 15px!important;
    }


    .slick-dots li{
    	width: 15px!important;   	
    }

}



