
.Team{
	display: flex;
	flex-direction:row;
	margin:5rem 5%;
}

.Team .Image{
	width: 100%;
}

.Team .Image img{
	width: 80%;
}

.About{
	margin-bottom: 10rem;
}


.About p{
	margin:5%;
	text-align:justify;
}

.About h2{
	font-size: 25px;
	margin:0 5%;
	padding: 0;
	margin-bottom: 5%;
}

.AboutText{
	margin:auto;
	width: 100%;
}

.Team h4{
	font-size:20px;
	font-weight: bold;
	padding: 0;
	margin:0;
}

.Team .Name{
	margin:0
}

.Team .Name p{
	margin:0;
	padding: 0;
	text-align: center;
}

.Team .Names{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top:3rem;
}

.Team p{
	margin:5%;
	text-align:justify;
}

.Mission {
	width: 50%;
	margin: 5rem auto;
}

.Mission p{
	margin:0.3rem;
}

.Things{
	width: 50%;
	margin: 5rem auto;
}

.Things p{
	margin:1rem;
}

.slides {
  position: relative;
  display: block!important;
}




@media only screen and (max-width: 600px) {

.Team{
	display: flex;
	flex-direction:column;
	margin:20% 5%;
}

.Team .Image{
	width: 100%;
	min-width: 0;
}


.About p{
	margin:5%;
	text-align:justify;
}

.About h2{
	font-size: 25px;
	margin:0 5%;
	padding: 0;
	margin-bottom: 5%;
}

.Team h4{
	font-size:17px;
	font-weight: bold;
	padding: 0;
	margin:0;
}

.Team .Names{
	flex-direction: column;
}

.Team .Name{
	margin:5%;
}

.Team .Name p{
	margin:0;
	padding: 0;
	text-align: center;
}

.Team p{
	margin:5%;
	text-align:justify;
}

.Mission {
	padding: 0 5%;
	width: 90%;
}

.Mission h4{
	font-weight: normal;
}

.Things {
	padding: 0 5%;
	width: 90%;
}

.Value{
	width: 100%;
	margin: auto;		
}


.About{
	margin-bottom: 40%;
}

.slick-dots li button:before
{
    width: 15px!important;
}

.slick-dots li{
    width: 15px!important;   	
}

}



