.Cart{
	display: flex;
	flex-direction:column;
	margin:5rem 5%;
}

.Cart h2{
	font-size: 25px;
	margin:0;
	margin-bottom: 1rem;
	padding: 0;
}

.Cart h4{
	font-weight: normal;
	margin: 0.2rem;
}

p{
	font-size:15px;
	margin:0;
	text-align: center;
}

.CartItem{
	margin:3rem;
		display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
}

.CartItem h3{
	font-size: 17px;
	margin: 0;
	padding: 0;
	height: fit-content;
}

.CartItem p{
	font-size: 15px;
	height: fit-content;
}

.CartItem .image{
	width: 100%;
	text-align:right;
}

.CartItem .image a{
	margin:0 5rem;
}

.CartItem .productInfo{
	text-align: left;
	margin:auto;
}

.CartItem .productInfo p{
	text-align: left;
}

.CartItem .Quantity{
	display: flex;
	flex-direction: row;
}

.CartItem .Quantity div{
	border:1px solid black;
	padding:0.5rem 1rem;
	border-radius: 0.5rem;
	margin:0 0.5rem;
}
.CartItem .Quantity button{
		border:1px solid black;
		height: 100%;
	padding:0 1rem;
	border-radius: 0.5rem;
	cursor: pointer;
}

.CartItem .remove{
	text-decoration: underline;
	margin:1rem 0 ;
}
.CartItem .priceAndVolume{
	display: flex;
	flex-direction: row;
	margin:0;
	height: fit-content;
}

.Receipt .buttonShop{
	margin:3rem auto;
	margin-bottom: 0;
	cursor: pointer;
}

.Receipt p{
	margin:0.2rem;
}

.Receipt h4{
	font-weight: bold;
	text-decoration: underline;
}

.Receipt h3{
	font-size: 20px;
	margin-bottom: 1.5rem;
	padding: 0;
	height: fit-content;
}

.Cart .Paragraph{
	margin:3rem auto;
}

.Cart .Paragraph p{
	text-align: center;
	font-size: 15px;
	margin:0.1rem;
}

.checkoutForm{
	margin:3rem auto;
	width: 50%;
}

.checkoutFormInput{
	display: flex;
	flex-direction: column;
	margin:1rem auto;
	text-align: left;
	align-items: stretch;
}

.checkoutFormInput input{
	height: 2rem;
	font-size:16px;
	font-family: 'Ibarra Real Nova', serif;

}

.checkoutFormInput p{
	text-align: left;

}

.checkoutForm .buttonShop{
	margin-top: 2rem;
	margin-bottom: 0rem;
	cursor: pointer;
	font-family: 'Ibarra Real Nova', serif;
	font-weight: normal;
}

.close_modal{
	position: absolute;
	right:1rem;
	top: 1.5rem;
	z-index: 1000;
	border:none;
	margin:0;
	font-size: 16px;
	background-color: none;
}


.modal {
	position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: white;
    outline: none;
}

.overlay {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
}


.order_details{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.order_details h2{
	margin:0.5rem;
	text-align: center;
}

.order_details p{
	margin:0.5rem;
}


@media only screen and (max-width: 600px) {

.Cart{
	display: flex;
	flex-direction:column;
	margin:20% 5% 10rem 5%;
}


.Cart h2{
	font-size: 25px;
	margin:0;
	margin-bottom: 5%;
	padding: 0;
}

p{
	font-size:15px;
	margin:0;
	text-align: center;
}

.CartItem{
	margin:3rem;
	flex-direction: column;
}

.CartItem h3{
	font-size: 17px;
	margin: 0;
	padding: 0;
	height: fit-content;
}

.CartItem p{
	font-size: 15px;
}

.CartItem .image{
	width: 100%;
	text-align:center;
}

.CartItem .image a{
	margin:auto;
}

.CartItem .productInfo{
	text-align: center;
}

.CartItem .productInfo p{
	text-align: center;
}

.CartItem .Quantity{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.CartItem .Quantity div{
	border:1px solid black;
	padding:0.5rem 1rem;
	border-radius: 0.5rem;
	margin:0 0.5rem;
}
.CartItem .Quantity button{
		border:1px solid black;
		height: 100%;
	padding:0 1rem;
	border-radius: 0.5rem;
}

.CartItem .remove{
	text-decoration: underline;
	margin:1rem;
}
.CartItem .priceAndVolume{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin:0;
	height: fit-content;
}

.Receipt .buttonShop{
	margin-bottom: 0;
}

.Cart .Paragraph{
	margin:3rem auto;
}

.Cart .Paragraph p{
	text-align: center;
	font-size: 15px;
	margin:0.1rem;
}

.checkoutForm{
	margin:1rem 0;
	width: 100%;
}

.checkoutFormInput{
	display: flex;
	flex-direction: column;
	margin:1rem 0;
	text-align: left;
}

.checkoutFormInput input{
	height: 2rem;
}

}