.Header{
	position: fixed;
	top: 0;
	width: 100%;
	z-index:2;
	background-color: white;
}

.Top_Banner{
	background-color: #1B1B1B;
	padding: 15px;
	margin:0;
}

p{
	margin:0;
	font-size: 14px;
	font-weight: 450;
}

.Top_Banner p{
	
	color: #F5F5F5;
}

h1{
	font-weight: 600;
	font-size:34px;
	margin:20px;
}

.Menu a{
	text-decoration: none;
	color:#1B1B1B;
	padding: 10px;
	font-size: 15px;
	font-weight: 450;
}

.Header a{
	text-decoration: none;
	width: fit-content;
}

.Header h1{
	width: fit-content;
	margin:auto;
	margin-top:30px;
}

.Menu{
	position: relative;
	bottom:10px;
	margin-top:40px;
}

.Menu  a.current{
	border-bottom:2px solid #1B1B1B;
	color: ##1B1B1B;
	font-weight: bold;
}

@media only screen and (max-width: 600px) {

.Menu{
	margin-top:10px;
}

.Header p{
	font-size: 11px;
}

.Header h1{
	font-size:25px;
	margin-bottom: 20px;
}

.Menu a{
	font-size: 14px;
}

}

