
.Home{
	margin:180px auto;
	overflow-x: hidden;
}

.Main{
	flex-direction: column;
	position: relative;

}

.Images img{
	width: 35%;
	height: auto;
	max-height: 640px;
}

.Images{
	display: flex;
}

.Text{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	z-index:1;
	min-width: 500px;
	{/*background-color: white;
	padding: 3rem;
	border:0.5rem solid #1b1b1b;*/}
}

.Text h1{
	text-align: center;
	color:#1B1B1B;
	font-size: 60px;
	margin:10px auto;
	padding:3px;
	border-radius: 4px;
	font-weight: 700;
	{/*text-shadow: 1.5px 1.5px grey;*/}
}

.Text p{
	text-align: center;
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 5%;
}

.Text a{
	text-decoration: none;
}

.HowItWorks a{
	text-decoration: none;
}

.buttonShop{
	background-color: #1b1b1b;
	color: white;
	width: fit-content;
	margin:auto;
	padding: 15px 30px;
	border-radius: 10px;
	font-size: 18px;
	font-weight: bold;
}


.HowItWorks{
	margin: 5% 0;
}

.HowItWorks h1{
	font-size: 30px;
	font-weight: bold;
}

.HowItWorks p{
	font-size: 15px;
	font-weight: bold;
}

.Steps{
	margin:5% 0;
	display: flex;
	justify-content: space-around;
}

.Step{
	width: 300px;
}


.Step .title{
	display: flex;
	margin:10px 0;
	align-items: center;
	justify-content: center;
}

.Step .instructions{
	text-align: center;
	margin:auto;
	width: 280px;
}

.Step .instructions p{
	font-size:14px;
	color: #1b1b1b;
	font-weight: 450;
}

.Step .title h3{
	position: relative;
	top:50%;
	margin:0;
	font-size:17px;
	font-weight: bold;
	width: fit-content;
}


.aboutVanilla{
	background-color: #1B1B1B;
	padding: 15px;
	margin:5rem auto;
	padding:2%;
	text-align: left;

}

.aboutVanilla h3{

	font-size: 25px;
	font-weight: 400;
	margin:0;
	margin-bottom: 2rem;
	color: #F5F5F5;
}

.aboutVanilla p{
	font-size: 20px;
	padding: 0;
	font-weight: 400;
	color: #F5F5F5;
	text-align: justify;
	margin-right:12rem;
}


.Brand img{
	width: 100px;
}

.PickBrand{
	padding:5% 10%;
	padding-bottom: 0;
}


.PickBrand h1{
	font-size:35px;
	font-weight: bold;
}

.PickBrand p{
	font-size:20px;
	font-weight: 600;
}

.Brands{
	width: 100%;
	margin: 5% auto;
	display: flex;
	flex-wrap: wrap;
	text-align:center;
	justify-content: center;
}

.Brand{
	flex: 1 0 content;
	padding:2rem;
	margin:1rem;
}

.BrandImg{
	position: relative;
  	text-align: center;
  	height: auto;
}

a{
	text-decoration: underline;
	text-decoration-color: #1b1b1b;
	color:#1b1b1b;
}

.Brand h3{
	color:#1b1b1b;
	font-size:18px;
}

@media only screen and (max-width: 600px) {


.Images img{
	width: 100%;
}

.Text{
	width: 80%;
	min-width: 250px;
	text-align: center;
	margin:auto;
	padding:1rem;
}

.Text h1{
	margin: 10px auto;
	font-size:30px;

}

.Text p{
	text-align: center;
	font-size: 15px;
	margin:auto;
	width: 60%;
}

.buttonShop{
	margin:2rem auto;
}

.Steps{
	flex-direction: column;
	margin:5%;
}

.Step{
	width: 80%;
	margin:10% auto;

}

.Brand{
	margin:10% auto;
	flex: 1 0 50%;
}

.instructions p{
	font-size: 15px;
}

.title h3{
	font-size: 15px;
}

.HowItWorks{
	margin:20% 0;
}

.HowItWorks h1{
	font-size: 30px;
}

.HowItWorks h3{
	font-size: 15px;
}

.HowItWorks p{
	font-size: 15px;
}

.Brand a h3{
	font-size: 15px;
}


.PickBrand h1{
	font-size: 21px;
}

.Home{
	margin: 140px 0;
}

.PickBrand h3{
	font-size: 15px;
}

.PickBrand p{
	font-size: 15px;
}

.PickBrand{
	margin-top:6%;
}

.aboutVanilla{
	padding: 30px;

}

.aboutVanilla h3{
	font-size: 25px;
}

.aboutVanilla p{
	font-size: 15px;
	margin:0;

}



}
