.About{
	text-align: justify;
	margin:200px 10%;
}

.mission{
	width: 90%;
	margin: auto;
}

.About h1{
	font-size:35px;
	font-weight: semi-bold;
	text-align: left;
	margin:0;
}

.About h4{
	font-size:18px;
	font-weight: 500;
	text-align: left;
	margin:20px 0 ;
	color:#F3E5AB;
}

.About p{
	font-size: 18px;
	font-weight: medium;
	margin:40px 0;
	line-height: 32.02px;

}

.Value{
	width: 90%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin:2% 0;
}


.value_text{
	margin:5%;
	margin-left: 0;
}

.Things{
	margin: 10% 0;
	width: 90%;
}


.slides {
  position: relative;
  display: block!important;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 100%;
  z-index:1;

}


.slick-prev:before,
.slick-next:before {
	color: black!important;
	background-image: url('./images/next.png');
}

.slick-next:before{
	right:100!important;
}

.slick-prev:before{
	left:0!important;
}

.SliderArrowNext{
	position: absolute;
  	top: 100%;
  	margin-left:60px;
  	z-index:1;
  	background-image: url('./images/next.png');
  	background-repeat: no-repeat;
	vertical-align: middle;
	background-size: 100%;
  	height: 60px;
  	width: 60px;
  	border:1px solid blue;
}

.SliderArrowPrev{
	position: absolute;
  	top: 100%;
  	z-index:1;
  	height: 60px;
  	width: 60px;
  	background-image: url('./images/next.png');

  	border:1px solid blue;
}

@media only screen and (max-width: 600px) {
	.Value img{
		display: none;
	}

	.Value{
	width: 90%;
	margin: auto;		
	}

	.Things{
	width: 90%;
	margin: auto;
}
.About h1{
	font-size:23px;
}

.About h4{

}

.About p{
	font-size: 15px;
	line-height: 20px;
}
.About{
	margin-bottom: 150px;
}

}



