.Contact{
	text-align: left;
	margin:200px 10%;
}
.Contact .title h1{
	font-size:35px;
	font-weight: semi-bold;
	text-align: left;
	margin:50px 0 ;
}

.Contact .title{
	text-align: left;
	display: flex;
	justify-content: left;
	align-items: center;
}

.Contact .title img{
	margin:15px;
	width: auto;
  	height: 60px;
}

.Contact h4{
	font-size: 20px;
	font-weight: semi-bold;
	margin:10px 0;
}

.Contact p{
	font-size: 18px;
	font-weight: medium;
	margin:10px 0;
}

.phone{
	margin: 50px 0;
}