
.Home{
	margin:200px auto;
}

.Images img{
	height: auto;
	max-width: 450px;
	object-fit: fill;
	transform: translateX(-150px);
}

.Images{
	display: flex;
}

.Text{
	margin-top: 150px;
	margin-left:-300px;
	z-index:1;
}

.Text h1{
	text-align: left;
	color:#FFFEEB;
	font-size: 75px;
	margin:10px 0;
	padding:3px;
	border-radius: 4px;
	background-color: #F3E5AB;
	width: fit-content;
	font-weight: bold;
}

.Text p{
	text-align: left;
	font-size: 20px;
	font-weight: 600;
}

.Main{
	display: flex;
	margin:30px 0;
}

.HowItWorks{
	border:1px solid blue;
	margin: 100px 0;
}

.HowItWorks h1{
	font-size: 35px;
	font-weight: semi-bold;
}

.Steps{
	margin:10%;
	display: flex;
	justify-content: space-around;
}

.Step{
	width: 300px;
}


.Step .title{
	display: flex;
	margin:10px 0;
	align-items: center;
	justify-content: center;
}

.instructions{
	text-align: center;
	margin:auto;
}

.instructions p{
	font-size:18px;
}

.title h3{
	position: relative;
	top:50%;
	margin:0;
	font-size:20px;
	font-weight: medium;
	width: fit-content;
}

.number{
	margin:5px 10px;
	background-color: #F3E5AB;
	padding: 5px;
	border-radius: 4px;
	font-size:20px;
}


.Brand img{
	width: 150px;
}

.PickBrand{
	border:1px solid blue;
	padding:10%;
}


.Brands{
	border:1px solid blue;
	width: 70%;
	margin: 10% auto;
	display: flex;
	text-align:center;
	justify-content: space-around;
}



@media only screen and (max-width: 600px) {
.Main{
	flex-direction: column;
}

.Images{
	width: 100%;
  }

.Images img{
	width: 33.3%;
	transform: none;
}

.Text{
	margin-top: 150px;
	margin: auto;
	z-index:1;
}
.Text h1{
	text-align: center;
	margin:10px auto;
}

.Text p{
	text-align: center;
}

.Steps{
	flex-direction: column;
	margin:10%;
}

.Step{
	width: 100%;
	margin:10% auto;
}

.Brands{
	flex-direction: column;
}

.Brand{
	width: 100%;
	margin:10% auto;
}
}
